/* ABOUT */
body {
  background-color: rgba(37, 217, 73, 0.7);
}

h1 {
  text-align: center;
  font-family: "Baloo Da 2", cursive;
  font-size: 35px;
}

hr {
  border-color: #000000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  text-align: center;
  height: 525px;
  border-style: groove;
  border-radius: 30px;
}
